.btn {
    display: block;
    height: unit(size * 3, 'rem');
    margin-top: unit((size / 0.9), 'rem');
    color: white;
    border: none;
    border-bottom: unit((size / 3), 'rem') solid darken(middle-green, 50%);
    width: 100%;
    border-radius: unit((size / 3), 'rem');
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s;
    outline: none;
}
