.container__form
    display block
    border unit(size/2,'rem') light-grey
    border-style solid none
    background-color dark-grey-blue
    padding unit(size*2.25,'rem')
    
.text-box
  display flex 
  flex-wrap: wrap
  height unit(size*2.5,'rem')
  margin-top unit(size/0.9,'rem')
  align-items: baseline
  background-color mid-dark-grey-blue

.icons-container
    height unit(size*2.5,'rem')
    margin-left unit(size/5,'rem')
    margin-right unit(size/5,'rem')
    border none
  
.fields
    background-color middle-grey
    border none
    border-left solid unit(size/7,'rem') light-grey
    height unit(size*2.5,'rem')
    padding-left unit(size/8,'rem')
    color light-grey
    
    

.login-btn
    height unit(size*3,'rem')
    margin-top unit(size/0.9,'rem')

.fields:focus
    outline-color: darken(middle-green,10%)

.errors
    color  dark-red
    display block
    text-align center
    font-weight 400