.pagination {
    display: block;

    li {
        display: inline-block;
        list-style: none;
        margin-right: unit(size, 'rem');

        a {
            display: inline-block;
            // text-decoration: none;
            color: light-grey;
            // background-color: white;
        }
    }
}