.table-container {
    display: flex;
    justify-content: center;
    margin: unit(size * 1.5, 'rem');
    color: white;
}

.table {
    box-shadow: 2px 5px 5px 0px rgba(light-grey, 0.1);
}

.table-head {
    background-color: dark-grey-blue;
}

.row-head {
    padding: unit(size, 'rem');
}

.row {
    text-align: center;
}

.cell {
    text-align: center;
    padding: unit(size, 'rem');
}

.row {
    background-color: light-grey;
}

.table-foot {
    background-color: dark-grey-blue;
}