//colors
light-grey =#60656B
middle-grey = #3B3F48
middle-grey-blue = #31343C
dark-grey-blue = #2A2F35
mid-dark-grey-blue = #363B41
middle-green = #B6CE60
light-red = #ff726f
dark-red = #AF4319
dark-purple =#550a8a

//sizes=10px
size = 0.625