.btn--ud {
    padding: 0 unit(size, 'rem');
    border-radius: none;
}

.page-btn {
    padding: 0 unit(size, 'rem');
    border-bottom-color: darken(middle-green, 50%);
    height: unit(size * 3, 'rem');
    border-color:darken(middle-green, 50%);
    border-bottom: unit((size / 3), 'rem') solid darken(middle-green, 50%);
    background-color: middle-green;
   
}

.tab {
    display: flex;
    flex-direction: column;
}

.update-btn {
    background-color: middle-green;
    border-bottom-color: darken(middle-green, 50%);
}

.update-btn:hover {
    background-color: darken(middle-green, 10%);
}

.update-btn:active {
    border-bottom: unit((size / 5), 'rem') solid darken(middle-green, 50%);
}

.delete-btn {
    background-color: light-red;
    border-bottom-color: darken(light-red, 50%);
}

.delete-btn:hover {
    background-color: darken(light-red, 10%);
}

.delete-btn:active {
    border-bottom: unit((size / 5), 'rem') solid darken(light-red, 50%);
}

.logout-btn {
    background-color: light-red;
    border-bottom-color: darken(light-red, 50%);
}

.logout-btn:hover {
    background-color: darken(light-red, 10%);
}

.logout-btn:active {
    border-bottom: unit((size / 5), 'rem') solid darken(light-red, 50%);
}

select.decorated {
    background-color: mid-dark-grey-blue;
    border-color: mid-dark-grey-blue;
    color: light-grey;
    height: unit(size * 3, 'rem');
    width: 100%;
}